{% extends "minimaster.html" %}
{% load static %}

{% block title %}
    AgriPro SignUp
{% endblock title %}

{% block headerInsertion %}
    <h2 style="margin-right:650px;">SIGN UP</h2>
{% endblock headerInsertion %}
{% block profilePik %}{% endblock profilePik %}

{% block content %}
    <main class="main-log"> <br>

        
        <div class="messages">
            <p><b>Please Fill in the Form below to register:</b> </p>
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
        <form class="form-box" method="POST">
            {% csrf_token %}
            <div class="form_group">
                <label for="fname">First Name</label>
                <input type="text" name="fname" id="fname" required>  
            </div>  
    
            <div class="form_group">
            <label for="lname">Last Name</label>
            <input type="text" name="lname" id="lname" required>
            </div> 
    
            <div class="form_group">
                <label for="myemail">Email</label>
                <input type="email" name="myemail" id="myemail" required> 
            </div>  
    
            <div class="form_group">
                <label for="tellno">Phone Number</label>
                <input type="tel" name="tellno" id="tellno" required>
            </div>  

            <div class="form_group">
                <label for="country">Country</label>
                <input type="text" name="country" id="country" required> 
            </div>  

            <div class="form_group">
                <label for="town">Town</label>
                <input type="text" name="town" id="town" required> 
            </div> 
    
            <div class="form_group">
                <label for="date">Date of Birth</label>
                <input type="date" name="date" id="date" required> 
            </div> 

            <div class="form_group">
                <label for="gender">Gender</label>
                <select id="gender" name="gender">
                    <option value="">Choose gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Binary">Binary</option>
                </select>
               
            </div> 
    
            <div class="form_group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required> 
            </div>  
    
            <div class="form_group">
                <label for="confirm">Re-enter Password</label>
                <input type="password" name="confirm" id="confirm" required> 
            </div> 
    
            <div class="submit-box">
                <button type="submit" id="submit">Submit</button>
            </div>

        </form>

        <p>Already have an account?</p>
        <a href="{% url 'login' %}" class="log" style="width:100px;">Log In</a>
    </main>   <br>  <br>
{% endblock content %}

{% block footer %}
                           
<h2 id="contact-header" >CONTACT US</h2>
<div class="footer-box">
    <div class="footer_right">
        <p style="font-size: 20px;">Have a question? Get in touch!</p>
        <div >
            <a href="https://www.instagram.com" target="_blank"> <img src="{% static 'images/gram.jpeg' %}" alt="instagram" class="social_icon"></a>  
            <a href="https://www.tiktok.com" target="_blank"> <img src="{% static 'images/tiktok.png' %}" alt="Tiktok" class="social_icon"></a>  
            <a href="https://www.linkedin.com" target="_blank"> <img src="{% static 'images/link.png' %}" alt="Linkedin" class="social_icon"></a>  
            <a href="https://www.x.com" target="_blank"> <img src="{% static 'images/x.png' %}" alt="X" class="social_icon"></a> 
            <a href="https://www.facebook.com" target="_blank"> <img src="{% static 'images/face.png' %}" alt="Facebook" class="social_icon"></a>
        </div>
        <form class="form-box">
            <div>
                <label for="name">Full Name: </label> 
                <input type="text" name="name" id="name" required>  
            </div>
            
            <div>
                <label for="email">Email Address: </label> 
                <input type="text" name="email" id="email" required> 
            </div> 

            <div>
                <label for="phoneNumber">Phone Number: </label> 
                <input type="text" name="phoneNumber" id="phoneNumber" required> 
            </div>
            
            <div style="grid-column: span 1;">
                <label  for="message">Message :</label>   <br>
                <textarea name="message" id="message" rows="3" required></textarea> 
            </div>

            <div class="submit-box">
                <button type="submit" id="submit">Submit</button>
            </div>
        </form>
    </div>
</div>


<p> &gt;&gt;&gt;&copy; Copyright 2024 AgriPro | All rights reserved.&lt;&lt;&lt;  </p>
{% endblock footer %}